@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Dosis:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

#barangayPage{
    -fx-background-color: #DEFFE1;
}

#barangayComboBox {
    -fx-background-radius: 15;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #34AC90;

}

#lblYourBarangay{
    -fx-color: #34AC90;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
}
#btnProfile{
    -fx-background-color: #34AC90;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 18px;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.list-cell{
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-background-radius: 15;
    -fx-font-size: 13pt;
}
#btnAdmin{
    -fx-background-color: #34AC90;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 18px;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

