@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Dosis:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
#anchorPaneEdit{
    -fx-background-color: #DEFFE1;
}

#lblUsername{
    -fx-color: #34AC90;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
#lblPassword{
    -fx-color: #34AC90;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#lblEmail{
    -fx-color: #34AC90;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
#txtfieldUsername{
    -fx-background-color: #A8DFAD;
    -fx-font-family: "Plus Jakarta Sans", sans-serif;
    -fx-background-radius: 15px;
    -fx-font-weight: bold;
}
#txtfieldPassword{
    -fx-background-color: #A8DFAD;
    -fx-font-family: "Plus Jakarta Sans", sans-serif;
    -fx-background-radius: 15px;
    -fx-font-weight: bold;
}
#txtfieldEmail{
    -fx-background-color: #A8DFAD;
    -fx-font-family: "Plus Jakarta Sans", sans-serif;
    -fx-background-radius: 15px;
    -fx-font-weight: bold;
}
#btnSave{
    -fx-background-color: #34AC90;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 18px;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
#btnBack{
    -fx-background-color: #34AC90;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 18px;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}