@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Dosis:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

#viewPlacesAnchorPane{
     -fx-background-color: #DEFFE1;
}
#barangayNameLabel{
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-fill: #34AC90;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}
#barangay{
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-fill: #34AC90;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

#placeListView{
    -fx-background-color: #4EE5C2;
    -fx-background-radius: 10;
    -fx-padding: 5;

}
.list-cell{
    -fx-background-color: #4EE5C2;
    -fx-font-family: "Plus Jakarta Sans", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-radius: 15;
    -fx-padding: 5;
}
#showScroll{
    -fx-font-family: "Plus Jakarta Sans", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 10;
}


#hboxPlaceDetails{
    -fx-background-color: #4EE5C2;
    -fx-background-radius: 5;
}

#placeName{
    -fx-font-family: "Plus Jakarta Sans", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
#placeRating{
    -fx-font-family: "Plus Jakarta Sans", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
#placeType{
    -fx-font-family: "Plus Jakarta Sans", sans-serif;
    -fx-color: #A7A7A7;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#placeStatus{
    -fx-font-family: "Plus Jakarta Sans", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
#vboxdetails, #information, #buttons{
    -fx-background-color: #FFFFFF;
}

#placeType{

}
#btnDetails{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-text-fill: black;
    -fx-corner-color: #000000;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-size: 15px;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-layout-orientation: center;
}
#btnMenu{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-text-fill: black;
    -fx-corner-color: #000000;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-size: 15px;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-layout-orientation: center;
}

#btnBackPlaces{
    -fx-background-color: #34AC90;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 18px;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
#btnReviews{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 12;
    -fx-text-fill: black;
    -fx-corner-color: #000000;
    -fx-font-family: "Baloo 2", sans-serif;
    -fx-font-size: 15px;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-layout-orientation: center;
}

.review-box{
    -fx-padding: 10px;
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-margin-bottom: 10px;
}